.topbar-head {
  border-bottom: solid #eeeeee;
  border-bottom-width: 1px;
  padding-top: 0.25rem;

  .topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 70%;
    align-items: center;
    padding-top: 0.25rem;

    ul {
      display: flex;
      justify-content: space-between;

      span {
        list-style: none;
        margin: 0rem 1rem 0rem;
        font-size: 0.69rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span {
          margin: 0rem 0.2rem 0rem;
        }
      }
    }
  }
}
